[2017-10-13 21:49] Ash70 opened #1 "[Suggestion] Tents"
Loving your mod btw; thank you for it.
This is just a random idea/suggestion, perhaps it won't fit your view of the mod, so don't feel bad to dismiss it ;)
Tents. I loved the tent that came with "the camping mod" and I thought it could be implemented in your mod as follows:
- Placing the tent sets your spawn.
- Breaking the tent could revert back to your previous (bed) spawn; not sure if that is p

[2017-10-13 22:56] TheIllusiveC4 commented on #1
Thanks for the suggestion, I'm glad you're enjoying my mod. The concept of a tent has been suggested to me by some other people as well, and the question of whether to include it or how to implement it is the main reason I've been delaying a proper release build. I can't make any promises right now, all I can say is that I'm thinking on it and will take your ideas into consideration.

[2017-10-20 15:06] TheIllusiveC4 commented on #1
I've decided against adding tents, at least for now. I can't think of a way to implement this, both in mechanics and in appearance, that satisfies me or my vision for this mod. My apologies. Perhaps I'll revisit this idea one day or introduce another mod where this could be implemented properly.

[2017-10-20 15:06] #1 closed

[2017-11-13 02:49] Hund opened #2 "Server crash at start with Comforts 0.0.8 (RC1)"
I just updated to Comforts Comforts 0.0.8 (RC1) on my server and it just crashes at start. It worked just fine on my client though.

Log: [crash-2017-11-13_03.39.14-server.txt](https://github.com/TheIllusiveC4/Comforts/files/1465451/crash-2017-11-13_03.39.14-server.txt)

[2017-11-13 04:06] TheIllusiveC4 commented on #2
Oh that's no good. I'll work on a fix right away.

[2017-11-13 04:20] TheIllusiveC4 commented on #2
I've just pushed out a new update, 0.0.8-rc2, that should fix this issue. It'll be available as soon as CurseForge approves it. Thank you very much for submitting this issue and please let me know if the problem continues.

[2017-11-13 04:20] #2 closed

[2017-11-13 05:02] Hund commented on #2
Thank you! :)

[2017-11-18 07:32] Luke616 opened #3 "[Bug] ver. 1.0.0 incompatible with Morpheus"
Title, when I updated Comforts to v1.0.0 this crash occurred:
https://pastebin.com/amaJePKP

The crash to be morpheus related but I can confirm this did not occur with comforts v0.0.8. Is this on your end?

Thanks!
Luke616

[2017-11-18 07:48] #3 closed

[2017-11-18 07:48] TheIllusiveC4 commented on #3
Yep, this is on my end. I forgot to test this before releasing, my apologies. I pushed out a new update, version 1.0.0.1, that should fix this issue. It's just awaiting Curse approval.

[2017-11-18 08:45] Luke616 commented on #3
You're quick! Thanks a bunch

[2017-11-18 13:48] Raycoms opened #4 "Not allowing to respawn player in 1.12 with sponge."
Newest spongeforge version with newest comfort version with best forge for that spongeforge
https://cdn.discordapp.com/attachments/372264384690388992/381436589601062914/image.png

[2017-11-18 16:32] TheIllusiveC4 commented on #4
I've successfully replicated the bug. I'll see what I can do, this is my first time working with SpongeForge so it might take a while.

[2017-11-18 16:51] ryantheleach commented on #4
@TheIllusiveC4 If you are going to be debugging in a SpongeForge environment and use IntelliJ I **highly** recommend installing https://github.com/minecraft-dev/MinecraftDev It provides debugging support for mixins that would otherwise be painful.

[2017-11-18 16:55] TheIllusiveC4 commented on #4
@ryantheleach Thank you for informing me of that, I was unaware.

[2017-11-18 16:58] ryantheleach commented on #4
If you are using windows as well, you may need to use the nightly release as a pretty major bug was fixed in build 69. if when you install it you get a version before 69, you can switch to the nightly releases in the settings.

![image](https://user-images.githubusercontent.com/141554/32982774-b09e7376-ccd9-11e7-8816-1b9b6817516a.png)

[2017-11-18 17:12] #4 closed

[2017-11-18 17:17] TheIllusiveC4 commented on #4
I'm pushing out a new update on CurseForge, version 1.0.0.2, that should address this issue. I added a simple null check in the appropriate method that should stop this problem from happening.

[2017-11-18 19:01] ryantheleach commented on #4
@TheIllusiveC4 Is the forge event for setSpawn non nullable or is null allowed? If it's non-nullable I'll create a ticket on SpongeCommon to fix it

[2017-11-18 20:23] TheIllusiveC4 commented on #4
Null is allowed as far as I'm aware, it's just that Forge never passes a null argument so I never encountered this problem in a solely Forge environment.

[2017-11-21 23:47] ExcitedName opened #6 "Conflict with MS Utilities"
I am not entirely sure which mod is the source of the conflict so I am submitting bug reports to both developers. With the MS Utilities mod installed both the sleeping bag and hammock set spawn upon usage. I have turned off the set spawn any time setting in the config of MS Utilities on the server and client and have tested both on a dedicated server and just the client, the results are the same.

[2017-11-22 00:57] TheIllusiveC4 commented on #6
I believe I may have figured out the conflict, although this is only from looking at the code of our respective mods and no actual testing.

Comforts prevents players setting spawns by cancelling the PlayerSetSpawn event when it fires from sleeping bags and hammocks. This event is fired from the EntityPlayer#setSpawnPoint method, which subsequently calls EntityPlayer#setSpawnChunk if the spawn dim

[2017-11-22 00:57] #6 closed

[2017-11-22 01:48] ExcitedName commented on #6
That makes sense. After further testing it occurs with two other sleeping system mods, Simple Bedrolls and Simple bedding. Simple bedrolls is stated as simply setting the time to the next day and bypasses all spawn methods. I find this interesting considering it is still happening with MS Utilities. I have only done a little modding with Minecraft, I have yet to get far enough to use any methods o

[2017-11-22 02:33] TheIllusiveC4 commented on #6
The short explanation is that MS Utilities always sets the spawn whenever you sleep. If Simple Bedrolls does not touch the spawn methods, it will naturally fall back to where MS Utilities set the spawn to be.

[2017-11-22 03:34] ExcitedName commented on #6
oh okay, I think I get it now. I looked back at what you previously wrote. The PlayerSetSpawn event is within both the EntityPlayer#setSpawnPoint method and the EntityPlayer#setSpawnChunk method. In the case of Comforts, even though you cancel the PlayerSetSpawn event within the EntityPlayer#setSpawnPoint method, you are still using the PlayerSleepInBed event. Which MS Util then hooks into and cal

[2017-11-22 03:56] TheIllusiveC4 commented on #6
The only part you got wrong is that PlayerSetSpawn is only fired from EntityPlayer#setSpawnPoint. It is not fired from EntityPlayer#setSpawnChunk. Since the event does not fire from the latter method, there is nothing for me to cancel. Everything else you said is correct to my own understanding.

[2017-11-22 04:12] ExcitedName commented on #6
I see. Well, MS Util hasn't been updated since July, Not sure when and if it will be resolved. Not a problem though, people are busy and such. But, like I said I will keep you apprised and thanks again.

[2017-11-23 11:39] Efimero opened #7 "Crash with rope and nail"
attempting to place a nail for the hammock on the underside of a block crashes with an error referring to an invalid block state, because it tries to place it facing up and that doesn't exist =]

[2017-11-23 18:37] TheIllusiveC4 commented on #7
I'm unable to replicate this on my end. Can you post the crash log? Also, the version of Comforts and the version of Forge? Are you on single player or a server? Can you replicate this with just Comforts installed?

[2017-11-26 15:24] Efimero commented on #7
[code]

`---- Minecraft Crash Report ----

WARNING: coremods are present:
  ComfortsCoreLoadingPlugin (comforts-1.12.2-1.0.0.1.jar)
Contact their authors BEFORE contacting forge

// But it works on my machine.

Time: 11/26/17 4:22 PM
Description: Unexpected error

java.lang.IllegalArgumentException: Cannot set property PropertyDirection{name=facing, clazz=class net.minecraft.util.EnumFacing, value

[2017-11-26 17:48] TheIllusiveC4 commented on #7
Ah, okay, this is the vital info. I managed to replicate it, and I'm working on a solution right now.

[2017-11-26 18:08] TheIllusiveC4 commented on #7
I've fixed this bug internally. I just have to polish up the rest of this update and then I can release it.

[2017-11-26 22:39] #7 closed

[2017-12-01 08:38] Darkmega18 opened #8 "Crash while loading with 1.12.1 using version 1.12.2-1.1.0"
[crash-2017-12-01_19.32.18-client.txt](https://github.com/TheIllusiveC4/Comforts/files/1520887/crash-2017-12-01_19.32.18-client.txt)

I'm using it still on 1.12.1 cause some things in my pack don't have 1.12.2 updated mods. I updated this just today from a really old version, like 0.0.6 or something and my game blows up on load. I'll go back and try 1.0.0.2 to see if it has the same issue. Somethi

[2017-12-01 10:00] TheIllusiveC4 commented on #8
So, it looks like Forge only introduced the EntityEntryBuilder in version 1.12.2-14.23.0.2487. Any version before that will crash, unfortunately. I was unaware of this, but I've now made it so that version 1.1.0 only lists compatibility with 1.12.2 to avoid this problem in the future. Previous versions of Comforts should load fine.

[2017-12-01 10:00] #8 closed

[2017-12-02 04:52] Darkmega18 commented on #8
Ah, balls. alrighty. latest version available it is then.

[2018-01-24 09:58] SimulatorSia opened #10 "Compatability issue with Extended Days"
https://minecraft.curseforge.com/projects/extended-days
When you sleep in a hammock while extended days is installed, the time gets set to the morning instead of twilight/evening.

[2018-01-24 22:23] TheIllusiveC4 commented on #10
It'll take some time for me to parse through what Extended Days is doing in its code that could be causing this issue, but I'll try to figure this out as soon as I can. Thanks for letting me know.

[2018-01-24 23:06] TheIllusiveC4 commented on #10
Nevermind, easier than I thought. Anyways, I think the problem is on Extended Days' end. Basically, Extended Days is setting the time themselves since they disable the daylight cycle. The compatibility occurs because that mod assumes that you always advance to daytime, when that is not the case with Comforts installed and you sometimes want to advance to nighttime instead via the hammocks.

[2018-01-24 23:06] #10 closed

[2018-02-23 09:36] SimulatorSia commented on #10
Extended Days fixed the issue. You can add Extended Days to your compatibility list if you wish.

[2018-02-23 09:49] TheIllusiveC4 commented on #10
Oh okay, thanks for letting me know!

[2018-03-24 20:47] Lethann opened #12 "Suggestion/Request: Allow Hammocks to hang from ArchitectuerCraft pillars"
Just as it says, ArchitectureCraft allows these awesome pillars and would work really well for things like indoor hammock setups. My house has an indoor atrium but having to put a huge block of wood just to hang the hammock is a bit of a bummer.

[2018-03-24 21:09] TheIllusiveC4 commented on #12
I'll have to think about this some more, but I may just remove the wood requirement altogether. It was nice for flavor, but seems too restricting considering that Minecraft is about making all sorts of builds.

[2018-03-25 00:33] Lethann commented on #12
yea, I still use wood, but because it's just an overlay it doesn't register as wood.

[2018-04-04 15:51] #12 closed

[2018-04-04 16:00] TheIllusiveC4 commented on #12
You will be able to hang hammocks on ArchitectureCraft pillars now, among most other blocks. It doesn't really look that great since there's a gap between the pillars' bounding boxes and the rope and nail, but that's not really something I can fix unfortunately.

[2018-04-08 06:57] Nexusdog opened #13 "FMLCorePlugin issue?"
This turned up in my log file - pertinent or useful?

[main/WARN] [FML]: Found FMLCorePluginContainsFMLMod marker in comforts-1.12.2-1.1.0.3.jar. This is not recommended, @Mods should be in a separate jar from the coremod

[2018-04-08 12:05] TheIllusiveC4 commented on #13
I'm aware, it's just a recommendation rather than a real warning. It shouldn't have any effect on gameplay. I'm hoping to do some rewrites when 1.13 comes that will stop this error from popping up.

[2018-04-08 12:05] #13 closed

[2018-04-08 13:31] Nexusdog commented on #13
Okay, thanks for the heads up.

[2018-06-11 00:19] ShadwDrgn opened #14 "Sleeping bag packet error."
https://github.com/TheIllusiveC4/Comforts/blob/master/src/main/java/c4/comforts/common/util/SleepHelper.java#L171 seems to be causing a stacktrace for me every time i try to use a sleeping bag. The character using the bag doesn't lay down and no gui comes up or overlay. if no one else sleeps they're stuck that way until daytime.

`[19:55:21] [Server thread/ERROR] [FML]: FMLIndexedMessageCodec exce

[2018-06-11 00:30] ShadwDrgn commented on #14
Fastest reply to a bug submission ever. thanks for the close attention. seems to only happen on server. Server and client using same forge and comforts version of course.

[2018-06-11 00:34] ShadwDrgn commented on #14
I found this which MAY be relevant to this circumstance. it's been forever since i did any MC modding and i'm not familiar with the netcode anymore, but worth a look maybe. Thanks again for taking time on this.
https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/modification-development/2125679-solved-1-7-2-simpleimpl-message-sending-system

[2018-06-11 00:35] ShadwDrgn commented on #14
Sorry I commented something completely stupid and related to 1.7.2 lol deleted it. Thanks for looking at this. It's almost certainly due to updated forge. I had another server on forget 25xx and this is 2705. Server on 25xx didn't have this problem.

[2018-06-11 01:10] #14 closed

[2018-06-11 01:12] TheIllusiveC4 commented on #14
Alright, just had to make sure to register the message on both the client and the server so that the discriminator is known to both sides. Why didn't I do that to begin with? No idea.
Anyway, I'm uploading a new update to CurseForge right now so hopefully it'll be up soon for you.

[2018-06-11 22:06] ShadwDrgn commented on #14
thanks for the fast fix. will update today! You're awesome.

[2018-07-10 00:29] PurpleHel opened #17 "Comforts and Sleeping Overhaul conflict"
With sleeping overhaul installed, sleeping bags from comforts don't work. (I didn't try hammocks.) I dunno which mod is causing the problem. Have a log! https://pastebin.com/WxJM2WD9

https://github.com/CosmicDan-Minecraft/SleepingOverhaul/issues/2

[2018-07-10 00:43] TheIllusiveC4 commented on #17
It's caused by Sleeping Overhaul. They are not implementing the correct checks for the bed position.

[2018-07-10 00:43] #17 closed

[2018-07-10 00:51] TheIllusiveC4 commented on #17
That being said, I can't guarantee that these mods will be compatible regardless because of how we both approach the sleeping mechanism. I'm planning on rewriting Comforts at some point, but I don't know when I can get to that.

[2018-07-10 03:56] PurpleHel commented on #17
No worries. I disabled sleeping overhaul to avoid the problem even before I knew it was the source of the problem. Thanks for checking!

[2018-07-10 06:38] cosmicdan commented on #17
It's up to me to add/maintain compatibility with other stuff, don't worry about it :)

[2018-07-10 08:37] cosmicdan commented on #17
Ok so I have to ask, why do you use a coremod here at all? Also it's quite destructive, removing stock code. This breaks SleepingOverhaul's optional CoreMod addon to allow sleeping during the day.

[2018-07-10 08:51] cosmicdan commented on #17
I can't figure out why you're using core modding here, but it breaks SleepingOverhaul's "allow sleep during day" optional feature too. I think we're both better off with revisiting this issue once your rewrite happens (which hopefully does not remove core code and makes the core-mod an optional addon, as per official Forge policy). Let me know if you want any help with make the ASM stuff more "fri

[2018-07-10 10:12] TheIllusiveC4 commented on #17
@cosmicdan
I'd love to make the core-modding optional or ideally remove it entirely, but the code is necessary to change the daytime sleeping checks. You must be aware of this as well since your mod uses this same core-modding, so I'm not sure where the confusion is about its necessity. The difference is that I cannot make this optional because it is part of a core feature of this mod.

At this ju

[2018-07-10 10:37] cosmicdan commented on #17
What I do instead of completely replacing isDaytime is add an additional check afterwards. I have no need to prevent the isDaytime check, I just want to add another condition.

With that said, I still don't understand what your hooks actually do. Both #notTimeToSleep and #advanceTime just seem to be re-implementations of what the vanilla code already does - block sleep during day and skip to the n

[2018-07-10 10:39] cosmicdan commented on #17
Derp: "can only be used during the daytime instead of at night." So your hooks are to let your beds make day to skip to night - got it. Think I need another coffee :)

[2018-07-10 11:11] cosmicdan commented on #17
Indeed, that new event would work. I wrote a comment to show my support of it.

Doesn't matter how much time I spent with ASM, it's always confusing to me 😅 I just missed that last line in the mod description.

Ok so I'll work on the BlockHorizontal thing, and hopefully we can get that PR merged soon!

[2018-07-10 13:32] cosmicdan commented on #17
Alright, small update.

The BlockHorizontal check is a good idea of course, implementing that stopped it from crashing and lets your mod take over completely. This was only a problem with the item-use mode of the Sleeping Bag - placed in the world with sneak worked fine already.

I won't be able to do SleepingOverhaul compatibility with the item-use command since I see you handle that yourself in

[2018-07-18 03:52] TheIllusiveC4 commented on #17
@cosmicdan
Finished the update. I've deferred all of the sleeping bag sleeping behavior back to vanilla and changed some of the internal logic, so the sleeping bag in its entirety should work out of the box with your mod.

I didn't change much about the hammock though, and I really can't since I have to change the daytime check from the initial sleep check. But I think you may be able to work arou

[2018-07-20 09:07] cosmicdan commented on #17
Heya,

Just working on some other features in my mod regarding compatibility, and I'm looking at how you check whether sleeping is allowed. You do this here:

https://github.com/TheIllusiveC4/Comforts/blob/55defeda8ebcb2170f33e10e6ad54d50b97abc28/src/main/java/c4/comforts/common/blocks/BlockBase.java#L95

But in my IDE search I have zero occurances of WorldSleepResult class nor the canSleepAt meth

[2018-07-20 09:44] TheIllusiveC4 commented on #17
If your repo is up-to-date, then it looks like you're using Forge version 14.23.2.2611. I'm building against the latest recommended version, which is 14.23.4.2705. I'm pretty sure the WorldSleepResult stuff is fairly new since it was not available when I first made this mod either.

[2018-08-18 18:19] Dragnier opened #18 "Hammock not working"
Video showing what happens: https://youtu.be/oEd88bHD7F8

If you need it, I can also attach an export of the modpack I am working on where I discovered this issue.

Also, here are the configs:

    B:"Auto Pick-Up Sleeping Bag"=true
    B:"Auto Use Sleeping Bags"=true
    B:"Leisure Hammocks"=false
    S:"Sleeping Bag Debuffs" <>
    S:"Sleepy Factor"=3.0
    B:Well-Rested=true
    B:"Insulated Sl

[2018-08-18 23:37] TheIllusiveC4 commented on #18
Which version of Comforts and Forge are you using?

[2018-08-19 00:29] Dragnier commented on #18
Comforts 1.12.2-1.2.0
Forge 14.23.4.2757

[2018-08-19 00:36] TheIllusiveC4 commented on #18
Okay, that's what I was thinking it was. So the latest Forge has an update (ironically, PRed by myself) that breaks the hammock coding. It's going to take a while to get a working update for this issue, but until then please use Forge versions 14.23.4.2754 and below only when using Comforts.

[2018-08-29 15:35] Darkmega18 commented on #18
Are hammocks meant to reset it to day? or are they meant to set it to nearly night? since I figured being able to sleep off the day to the night would be there use if used for bed, but they're setting it to like next day instead. thats a long nap. :V if "nap" I would think it'd be like a "/time add 4000" or something at the very least, with a cooldown/day restriction perhaps?

[2018-08-29 17:30] TheIllusiveC4 commented on #18
Hammocks will make you sleep until the evening, when the sun is just about to set. They cannot be used at night. They are pretty much meant to function as the inverse of beds.

[2018-08-30 13:03] Darkmega18 commented on #18
weeeeell, I got an issue then. cause it's setting it to the start of the day. :V

[2018-08-30 17:14] TheIllusiveC4 commented on #18
@Darkmega18
Please make a new issue to report this, as your issue is different than this one. This issue is about the hammock not working at all, in the manner shown in the video linked in the first post. Your issue is that the hammocks are setting the time incorrectly.

I'll still look into this for you, but I will not be posting any updates or queries about your issue until you report it properl

[2018-08-30 21:24] #18 closed, assigned to TheIllusiveC4

[2018-09-01 06:06] Darkmega18 opened #19 "Hammock sets time of day wrong"
As you requested, new issue directly for the issue.
https://github.com/TheIllusiveC4/Comforts/issues/18#issuecomment-417311601
To rehash it, the hammock is instead awkwardly setting time to day instead of night. I have a few other bed like mechanics in my pack, so I'm not sure if they could be interacting weirdly with it as I said. but my Modpack is called "Transcendence" if you'd like to get a mo

[2018-09-01 06:28] TheIllusiveC4 commented on #19
Can you try it with either Comforts version 1.2.0.1 or 1.3.0 (depending on which Forge version you have)? I pushed out these updates yesterday that I think might address your problem.

[2018-09-01 06:37] Darkmega18 commented on #19
Yes, I gained that version last night but was in a hurry to finish my quests and update my pack then. I'll try it on the server promptly when my game finally loads and give the verdict. :)

[2018-09-01 14:11] Darkmega18 commented on #19
Ok, yeah, with the forge update and the new version the hammock works fine now. :D yay! slow responses cause played for a time, had dinner, played another game, came back, realized I hadn't said anything yet. :V

[2018-09-01 14:11] #19 closed

[2018-10-06 18:22] wenlfs opened #20 "[suggestion] Punishment to players that don't sleep"
Apply some punishment for players that don't sleep for some days in a row could stimulate the player to sleep to avoid debuffs. It could be potions effects or even death as an extreme punishment, so in death case when the player reach a limit of days without sleep they get damage till die.

[2018-10-06 20:02] TheIllusiveC4 commented on #20
While an interesting idea, this is largely what the Phantoms in 1.13 are used for and I don't really want to introduce a feature that will be obsoleted in the very next version. In addition, adding this sort of sleep deprivation punishment system is a little outside the scope of this mod.

[2018-10-06 20:02] #20 closed

[2018-11-05 01:21] PurpleHel opened #21 "really minor day progression bug when using sleeping bags"
comforts-1.12.2-1.3.1
forge 14.23.5.2768
minecraft 12.2
lots of other mods but I don't think they're involved.

I happened to notice that when I slept in a sleeping bag, the day didn't progress. I went to sleep at 8pm on day 11, and woke up at 6am on day 11. For my use case, this doesn't matter, but I know there are mods that trigger stuff based on what day it is of the game, so I figured I'd let

[2018-11-05 01:48] TheIllusiveC4 commented on #21
I am unable to reproduce this, the day progresses correctly when I tested the sleeping bag just now.

Although you say that you don't think your other mods are involved, I'm inclined to believe that perhaps one of them messes with the sleep cycle. This is also in line with what I predicted when I first saw this issue because my sleeping bag code doesn't really touch the world time in any way. It d

[2018-11-05 03:00] PurpleHel commented on #21
Sure, I'll poke at it with the couple mods that do anything with day progression, see if I can figure out which one it is. I thought I remembered that you had some hacky way of advancing the day, but I must have misremembered, my bad.

[2018-11-05 03:41] PurpleHel commented on #21
Ok, it happens with just BetterHUD and Comforts, but it *doesn't* happen day 1. I didn't try every single night, but I advanced to 10pm day 8 via /time set 160000, put down a sleeping bag (purple, not that I think *that* matters), and slept in the sleeping bag. Woke up at 6am Day 8.
Mods:
  comforts-1.12.2-1.3.1
  hud-1.4-beta-1.12.2

[2018-11-05 05:50] TheIllusiveC4 commented on #21
Okay, so I did some testing.

1) Using `/time set 160000`, the sleeping bag still advances the day as expected.
2) Minecraft days function in intervals of 24000 ticks, so `/time set 160000` should be Day 6, not Day 8. Is BetterHUD calculating the time correctly?
3) You can check the time yourself without BetterHUD by entering the command `/time query day` for the day and `/time query daytime` for

[2018-11-05 05:50] #21 closed

[2018-11-05 10:18] PurpleHel commented on #21
Huh. *weird* BetterHud *seems* to show the time and day right, based on actual playing, but yeah, /time query day shows the day changing when betterhud doesn't, and what day it is doesn't match up. I'll go ask them. Sorry!

[2018-11-25 09:15] mr2013 opened #22 "Server crash with 1.3.1 + Forge 2784"
Transcription of crash below. Full log located at https://pastebin.com/rHbzCihH Full mod list located at https://pastebin.com/aEtpbcJg Server specs are docker container running on Ubuntu 18.04.1 LTS with 24 gigs of ram dedicated to process. Removing comforts allows server to run successfully.

[2018-11-25 09:52] TheIllusiveC4 commented on #22
Yeah this is due to some changes in Forge version 2776. You'll have to use a version before that. I'm working on a quick fix that should be out by sometime tomorrow that will be compatible with the newer Forge versions.

[2018-12-21 10:22] DWX12 opened #23 "Crash when player slept in cryogenic chamber from Galacticraft"
Had a crash report pop up when a player slept in a cryo bed from Galacticraft:

https://paste.dimdev.org/fonibaxoxi.mccrash

I have the most recent versions of both GC (GalacticraftCore-1.12.2-4.0.1.181) and Comforts (comforts-1.12.2-1.4.1).

[2018-12-21 10:50] TheIllusiveC4 commented on #23
Hm, doesn't crash for me. At least in the Overworld. Where were you sleeping when this crash happened?

[2018-12-22 07:30] #23 closed

[2018-12-22 07:30] TheIllusiveC4 commented on #23
Still couldn't reproduce it, but made some changes that may solve the issue regardless.

[2018-12-22 10:05] DWX12 commented on #23
Thank you for the response. I think I might be getting these issues with other mods too. Sometimes they pop up as unknown and other times the crash reports point to other mods.

I'm using VanillaFix, so they aren't game breaking, as far as I can tell. I'm able to keep playing and they don't seem to be actually doing anything negative. I am; however, getting some graphical issues from time to time,

[2019-04-17 02:51] jaxmacky opened #24 "Exploding Bed Dimension Whitelist/Blacklist Option"
comforts-1.12.2-1.4.1.1.jar
MC 1.12.2

Suggestion to add a config option to whitelist/blacklist Dimensions.

Sleeping bag blows up when in another dimension other than Overworld.

I am using a mod that adds planet type dimensions, and would like the sleeping bag to NOT blow up when used on them. Normal Beds do not blow up in the same dimensions.

[2019-04-17 04:34] TheIllusiveC4 commented on #24
This shouldn't be necessary, because the explosions only occur if the dimension tells it to. Like so:
https://github.com/TheIllusiveC4/Comforts/blob/49cc7a8eaeaa3f713e688b13f598536d0ff52cfc/src/main/java/c4/comforts/common/blocks/BlockBase.java#L95-L96

Can you tell me what mod you're using for planet type dimensions? I'd have to look into it to see what might be happening to cause this issue.

[2019-04-17 04:38] jaxmacky commented on #24
Advanced Rocketry is the Mod I am using for the Planets.
-AdvancedRocketry-1.12.2-1.5.0-138-universal.jar
-LibVulpes-1.12.2-0.4.0-54-universal.jar

After seeing that very code in the Git, I tested with regular beds too to see, and they did not explode.

[2019-04-17 06:02] TheIllusiveC4 commented on #24
Okay, I figured out the issue. Advanced Rocketry actually overrides regular beds with their own "space-friendly" copy when you place them down, and these do not have any explosion logic at all which is why they don't explode. Vanilla beds _will_ explode, it's just that Advanced Rocketry never lets you place a real vanilla bed down. Advanced Rocketry needs to override the `WorldProvider#canSleepAt`

[2019-04-17 06:02] #24 closed

[2019-04-17 06:04] jaxmacky commented on #24
Thanks, will try and pass that along.

[2019-05-16 21:48] duntwave opened #26 "crashes upon world load 1.13.2"
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.13.2-2.0-beta1
* Forge: 25.0.198
#### Observed Behavior: it crashes but when I uninstall it and join that world again it gives me the message about how the comfort:whatever items aren't present etc.
#### Expected Behavior:
#### Steps to Reproduce:
1. start game lol
2. join world
3. crash
...

Crash Log: https://hastebin.com/akumipuv

[2019-05-16 22:29] TheIllusiveC4 commented on #26
Can you reproduce this without any other mods? This is a common error when any mod in the mod list returns null in a capability.

[2019-06-01 09:19] TheIllusiveC4 commented on #26
@duntwave Following up on this again, can you reproduce this bug without any other mods?

[2019-06-06 00:32] scienceman217 opened #27 "Mod incompatible with any Forge newer then 2772"
[2019-06-05-6.log.gz](https://github.com/TheIllusiveC4/Comforts/files/3259510/2019-06-05-6.log.gz)

* Comforts: 1.3.1
* Forge: 2773
#### Observed Behavior: Having any forge newer than 2772 causes the game to be unable to launch.
#### Expected Behavior: Should start-up normally.
#### Steps to Reproduce:
1. Install Comforts and Forge 2773+
2. Click Launch Game

[2019-06-06 01:46] TheIllusiveC4 commented on #27
You're using an old version of Comforts, updating to the latest 1.4.1.2 version should solve the issue.

[2019-06-06 01:46] #27 closed

[2019-06-06 03:49] jaxmacky opened #28 "Dimension Whitelist/Blacklist Config option for Non-Exploding Sleeping Bag/Hammock"
**Please describe the new feature or change.**

Dimension Whitelist/Blacklist Config option for Non-Exploding Sleeping  Bag/Hammock

**Please describe why you want this feature.**

I am currently Dev'ing a Modpack with Advanced Rocketry. The Dev for that mod, has coded in a variation of the vanilla type beds, to not explode on (any) planets. Would be nice to be able to use Comforts without explodi

[2019-06-06 04:08] TheIllusiveC4 commented on #28
Duplicate of https://github.com/TheIllusiveC4/Comforts/issues/24
You're also the author of that previous thread, so I'll just say that my response is the same as before. This compatibility is already possible through Forge, the AdvancedRocketry dev just has to implement it.

[2019-06-06 04:08] #28 closed

[2019-07-12 01:49] yrsegal opened #29 "Breaking the head of a sleeping bag crashes servers."
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.12.2-1.4.1.2
* Forge: 14.23.5.2838
#### Observed Behavior: Server crash.
#### Expected Behavior: ... Not that.
#### Steps to Reproduce: Break the head (white block) of a sleeping bag.

Crash Log: not provided, as this is not a server I have access to.

[2019-07-12 05:51] TheIllusiveC4 commented on #26
Closing this for lack of information and follow-up. Feel free to comment with a follow-up at any time and I'll re-open the issue.

[2019-07-12 05:51] #26 closed

[2019-07-12 06:15] TheIllusiveC4 commented on #29
I can't reproduce this, so I'll need more information. The crash log is pretty critical to have, but if that's not an option then you'll have to offer some more details about the reproduction steps and/or about the modded environment this took place in.

[2019-08-08 23:26] Rohzek opened #30 "Dedicated Server Crash On Load"
#### Versions (Be specific, do not write "latest"):
* Comforts: 2.0 beta 1
* Forge: 25.0.219

#### Observed Behavior: Server crashed

#### Expected Behavior: Server to not crash

#### Steps to Reproduce: Run on dedicated server? Not sure if it's actually Comforts or just a weird thing with Forge - it seems to be trying to load the tile entity renderer on the server? Dropping it here anyway.

Crash

[2019-08-12 01:51] #30 closed

[2019-09-07 06:43] TheIllusiveC4 commented on #29
Closing this as it has been a while without an update. If this is still an issue and there's more information available, then I'll be happy to re-open it.

[2019-09-07 06:43] #29 closed

[2019-09-28 18:52] YTFrost opened #32 "[Suggestion] Tents -revisited"
Hello. First I'd like to apologise for the possible crudeness of this request, as It's my first gitHub post ever :). Second, I know that tents were already suggested and declined, that's why I thought about revisiting them with my idea as to what they could bring.

**The feature:**
Onto the idea itself, I've thought of it as of a multiblock structure that had a model of those big Indian tents. The

[2019-09-28 18:54] YTFrost commented on #32
Oof I just noticed I posted it in enhancements. How do I move it to suggestions without having to re-type it all? :/

[2019-10-02 10:42] #32 closed

[2019-10-02 10:44] YTFrost opened #33 "Tents - revisited"
Hello. First I'd like to apologise for the possible crudeness of this request, as It's my first gitHub post ever :). Second, I know that tents were already suggested and declined, that's why I thought about revisiting them with my idea as to what they could bring.

**The feature:**
Onto the idea itself, I've thought of it as of a multiblock structure that had a model of those big Indian tents. The

[2019-10-02 10:44] YTFrost commented on #33
ffs I did it again

[2019-10-02 15:26] TheIllusiveC4 commented on #33
You're fine, "enhancements" is the appropriate label to encompass any sort of new feature, whether it be a suggestion or otherwise. It gets automatically added when you make a suggestion.

[2019-10-04 02:00] TheIllusiveC4 commented on #33
I've thought about it and unfortunately I'm still not convinced on adding tents. It just doesn't feel right to add an entire multiblock structure like this for players and have its only benefit be that you can sleep with monsters around. If that's the goal, I'd much rather do something like add a feature where you can sleep with monsters around if you're near a campfire, or something to that effec

[2019-10-04 02:00] #33 closed

[2019-10-17 07:29] SepSol opened #34 "Suggestion: Backpacks"
Currently there are no good backpack mods for 1.14.4 (Forge). It would be nice if we had something like '[Wearable Backpacks](https://www.curseforge.com/minecraft/mc-mods/wearable-backpacks)' mod in this version.

As for why I want this feature:

- Makes carrying items around so much easier
- Adds new possibilities in multiplayer gameplay as people can borrow things from each others' backpacks
- I

[2019-10-17 07:39] TheIllusiveC4 commented on #34
While I think this is a fair suggestion in general, this doesn't really belong here since Comforts is mainly just focused around beds/sleeping.

[2019-10-17 07:39] #34 closed

[2019-10-17 12:10] SepSol opened #35 "Suggestion: bouncing off of Hammocks (like vanilla beds)"
**Please describe the new feature or change.**

**Please describe why you want this feature.**

[2019-10-17 17:59] #35 closed

[2019-11-20 01:11] WenXin20 opened #36 "Allow Blocks to be Waterlogged"
**Please describe the new feature or change.**
Allow blocks, such as sleeping bags, hammocks, and rope & nails, to be watelogged.

**Please describe why you want this feature.**
This would allow for new decoration options.

[2019-11-29 00:02] TheIllusiveC4 commented on #36
Is this purely decorative or were you hoping to be able to sleep in them when waterlogged as well?

[2019-11-29 00:26] WenXin20 commented on #36
Probably only decorative

[2020-01-02 00:58] ElvenChaos opened #38 "Leisure Hammock Bug"
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.4.1.2
* Forge: 14.23.5.2847
#### Observed Behavior: When both the "leisure hammock" setting is on and Sponge Forge is installed, using the hammock for leisure makes it get stuck as "occupied" for if you wanted to sleep in it to pass the day.

Breaking and replacing the hammock fixes the issue when just these mods are installed, thou

[2020-02-13 00:16] TheIllusiveC4 commented on #38
I'm not 100% sure because I'm not too familiar with SpongeForge, but I believe this is a bug on their end. It seems like they're not processing the EntityMountEvent correctly, since that houses the logic for killing the placeholder resting "chair" and setting the occupied value to false.

[2020-02-13 00:16] #38 closed

[2020-02-13 01:10] #36 closed

[2020-02-17 05:19] blacklunaer opened #39 "Invite you and your Minecraft Modification to introduce to the player/audience in Taiwan."
Hello! We are the Cite Media Holding Group. a publisher in Taiwan. For now we’re devoted to Minecraft promotion, Our company is expected to publish a book entitled <The 100 Most Favorite Minecraft Modification for Game Talents> (tentative title) in December. And we will invite well-known Minecraft Game Talents in Taiwan to carefully select the 100 most recommended Minecraft Modification in the wor

[2020-02-17 16:45] TheIllusiveC4 commented on #39
I don't really see any other info to fill out, so I'll just say sure, go ahead.

[2020-02-17 16:45] #39 closed

[2020-02-18 07:27] blacklunaer commented on #39
If you are convenient, you can use gmail to send personal information

TheIllusiveC4 <notifications@github.com> 於 2020年2月18日 週二 上午12:45寫道：

[2020-03-23 13:37] slard3 opened #40 "Placing a hammock right above a block"
* Comforts: comforts-FORGE-1.15.2-2.0
* Forge: 31.1.26

Actually I've seen this bug since 1.14 but it never bothered me before because no one in their right mind would put a hammock so close to the floor.

#### Observed Behavior:
![2020-03-23_10 17 46](https://user-images.githubusercontent.com/55768134/77321216-9bcbd880-6cf0-11ea-9536-461c57f48cd2.png)
![2020-03-23_10 29 30](https://user-images.gi

[2020-03-23 17:11] slard3 commented on #40
Another bug i almost forgot:
![2020-03-23_13 57 12](https://user-images.githubusercontent.com/55768134/77342867-9c279c00-6d0f-11ea-9f32-3ab12ffe07fb.png)

Steps to Reproduce:
Place the nails and the hammock. Then destroy the **blocks that are holding the nails** and the hammock will not break
It uses just as much space as a bed, it saves up two nails (no need to craft any more ever again), but I d

[2020-04-09 05:47] #40 closed

[2020-04-22 17:40] ghboyek opened #41 "Config not available"
#### Versions (Be specific, do not write "latest"):
* Comforts: FORGE-1.14.4-2.0-beta6
* Forge: 28.2.3
#### Observed Behavior:
No comforts.toml found in config folder
#### Expected Behavior:
comforts.toml in config folder
#### Steps to Reproduce:
1. Launch 1.14.4 with comforts installed.
2. Look in config folder.
...

Crash Log: N/A

[2020-04-22 17:45] TheIllusiveC4 commented on #41
It's a server-side config. You need to look into your world save in the `serverconfig` folder.

[2020-04-22 17:45] #41 closed

[2020-07-30 00:03] nepphhh opened #43 "Unclear how to format `sleepingBagDebuffs`; suggest more detailed description in the wiki?"
[code]

This does not properly load. Other similar variations also fail to load. Peering through [the source](https://github.com/TheIllusiveC4/Comforts/blob/7f981a16f844d20507012a4b5d6e0487db3de0dd/src/main/java/top/theillusivec4/comforts/common/ComfortsConfig.java#L80) doesn't make it any more obvious to me, a non-modder.

Perhaps the configuration format should be explained a bit more explicitly

[2020-07-30 00:41] TheIllusiveC4 commented on #43
Sure, sorry about the vagueness. It's hard to delineate clearly when I'm biased, being the modder and all.

Here's an example that should clear up the confusion:
[code]
This will add two effects to the list. The list itself is defined by the brackets. Each entry is separated by commas. Each entry needs to be wrapped by quotation marks. Each option in the entry is separate by a space.

I've also ad

[2020-07-30 00:41] #43 closed, assigned to TheIllusiveC4

[2020-07-30 00:46] nepphhh commented on #43
Thank you!

[2020-08-25 16:57] Warbringer12 opened #45 "hammock sleep bug"
tried sleeping in hammock
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.16.2-4.0.0.0
* Forge: 33.0.20
#### Observed Behavior: right clicked hammock to sleep during night nothing happened
#### Expected Behavior: right click hammock to sleep
#### Steps to Reproduce:
1. right click hammock at night
2.
3.
...
![2020-08-25_09 52 52](https://user-images.githubusercontent.com/44590540

[2020-08-25 19:54] TheIllusiveC4 commented on #45
As the message you got in the screenshot states, you can only sleep in hammocks during the day. They turn day to night.

[2020-08-25 19:54] #45 closed, assigned to TheIllusiveC4

[2020-09-01 11:05] Eowomir7 opened #46 "Survive Mod Support"
**tough as nails mod has been discontinued at 1.12.2**.

there is an updated 1.16.1 mod i found called [Survive](https://www.curseforge.com/minecraft/mc-mods/survive) that adds the same mechanics, and also has a tiredness mechanic that seems as though it would work well side by side with your well rested mechanic. **i was hoping you could add support for the insulated sleeping bags alongside the t

[2020-12-05 12:56] Justlookingforgoodmods opened #49 "Hammock bug"
I'm playing in 1.16.3, I did exactly every step on how to set up a hammock, but it doesn't work.

Edit: Nevermind, it worked after a several tries, please disregard this message!

[2020-12-06 06:16] #49 closed, assigned to TheIllusiveC4

[2021-01-03 00:48] DreiPixel opened #50 "Hammock breaks if more than 1 player are on a server"
#### Versions (Be specific, do not write "latest"):
* Comforts: 4.0.0.3
* Forge: 35.1.15
#### Observed Behavior:
Hammock skips to the next day if there are more than 1 player on a server
#### Expected Behavior:
Hammock working with any amount of players on a server
#### Steps to Reproduce:
1. Use hammock on a server with more than 1 player.

I have no idea if this is confict with a mod. the only m

[2021-01-03 01:27] TheIllusiveC4 commented on #50
I believe this is a conflict with Morpheus, as that mod doesn't use one of the Forge hooks that allows other mods to manipulate the time skip logic. It skips to day because Morpheus is assuming full control of the time skip.

[2021-01-03 02:44] #46 closed, assigned to TheIllusiveC4

[2021-01-03 02:44] #50 closed, assigned to TheIllusiveC4

[2021-01-09 03:00] FewerFlaws opened #51 "Make dye mechanics consistent with vanilla"
**Please describe the new feature or change.**
1. Any color of sleeping bag or hammock should interact with dye to take a new color
2. White dye and bonemeal should dye a sleeping bag or hammock white.

**Please describe why you want this feature.**
To be consistent with the vanilla dye mechanics related to beds.

[2021-01-09 03:47] TheIllusiveC4 commented on #51
The way your request is phrased implies that vanilla beds operate this way. I just tested this and that's not the case. I can only dye white beds, and dyed beds cannot be dyed back to white.

This is also consistent with what the Minecraft wiki says, specifying that the proposed behavior is not available on the Java edition:
https://minecraft.gamepedia.com/Bed#Crafting

Have you tested a fresh, va

[2021-01-09 04:02] FewerFlaws commented on #51
I just did and you are correct.  My apologies.  I will make the change on my end =]

[2021-01-09 04:03] FewerFlaws commented on #51
Honestly, by "make the change" I mean that I'll figure out which mod thinks you can dye black things white and whip it into shape ;)

[2021-01-09 04:04] #51 closed, assigned to TheIllusiveC4

[2021-01-12 20:00] Shados opened #52 "Support for Bedspreads"
Given they're both your mods, I get the feeling this should already work, but it does not appear to be possible to apply a banner to a Comforts sleeping bag or hammock.

Mod versions in use, in case it _should_ be working and is a bug that it isn't:
- `bedspreads-forge-1.16.4-5.1.0.1.jar`
- `comforts-forge-1.16.4-4.0.0.3.jar`

[2021-01-12 22:53] TheIllusiveC4 commented on #52
This is a fairly tedious endeavor, as both the sleeping bag and the hammock would need their own custom textures for each banner pattern. Essentially, double the amount of textures I've already worked on to make Bedspreads work for vanilla beds. I'm not dismissing the possibility, so I'll leave this issue open, but it's fairly low priority and I'm not sure when I'll have the time to get to it.

[2021-03-21 08:06] ItsCliffGaming opened #53 "CTD Error When Trying to Place Hammocks"
Anytime I attempt to place a hammock, I crash to desktop, with the following error message:

`The game crashed whilst unexpected error
Error: java.lang.IllegalArgumentException: Cannot set property DirectionProperty{name=facing, clazz=class net.minecraft.util.Direction, values=[north, south, west, east]} to up on Block{comforts:hammock_white}, it is not an allowed value
Exit Code: -1`

Full crash

[2021-03-21 08:56] TheIllusiveC4 commented on #53
How are you placing the hammock? Please list your steps as detailed as possible. In addition, can you reproduce this with only Comforts installed?

[2021-03-21 19:52] ItsCliffGaming commented on #53
Thanks for the prompt response. So, Anytime I right click the ground with a hammock it does it. There are no more specifics to it, literally any time. Now, with that being said, I cannot duplicate the error in single player, only in multiplayer, so I cannot easily test removing all the mods in that environment. But, even with all the mods, I don't get any errors in the Single Player world. I will

[2021-03-25 18:34] Dradon7 opened #54 "Using Tripwire hooks on hammocks"
**Pitch:**
Instead of having a separate item to use for hammocks (rope+nail), the mod just used vanilla tripwire hooks.

**Reasons why:**
The rope+nail just feels unnecessary when there's a vanilla item that's already so close in design.

[2021-03-25 19:19] TheIllusiveC4 commented on #54
I disagree that it's close in design. The tripwire hook has a single balance point, while the rope and nail has two. The tripwire hook has a thinner string, while the rope and nail has thicker rope. These are simple but vital to the look and feel of the hammock.

It's also conceptually confusing. Why would you use a tripwire hook to build a hammock when it's meant for entity detection in redstone

[2021-03-25 19:19] #54 closed, assigned to TheIllusiveC4

[2021-04-07 13:07] Scamper10 opened #55 "Sleeping Bag Debuffs don't work"
#### Versions:
* Comforts: 0.0.2
* Fabric: 0.11.2 (I think)
#### Observed Behavior: Sleeping Bag Debuffs are not applied
#### Expected Behavior: Sleeping Bag Debuffs should be applied on leaving the sleeping bag
#### Steps to Reproduce:
1. Acquire a sleeping bag
2. Wait till night or use commands to set the time to night
3. Use the sleeping bag

I have attatched two versions of the config, neither

[2021-04-07 15:43] Scamper10 commented on #55
Read the wiki, tried the EXACT format and STILL nothing works.

[2021-04-22 01:27] TheIllusiveC4 commented on #55
Please follow the bug report template.

Since you mentioned Mod Menu, I assume you're on Fabric? Note the wiki is for Forge, the Fabric format is the one in the configuration comments. Please share your configuration setting so I can check it for errors.

[2021-05-12 23:59] Thezapman1 opened #57 "Hammock turns it to daytime sometimes"
I right-click to sleep in the hammock and sometimes (about half the time I've tried) it turns it to daytime, however, if I manually set the time to 1000 let's say, and then sleep, it guarantees that it will turn it to nighttime as it should. I'm on the latest version 1.16.5 using the mod's latest version. I'm currently playing on the ATM6 mod pack, with a few extras added of my own.

[2021-05-16 06:23] TheIllusiveC4 commented on #55
Sorry, I see that you've edited your post to include the configs a while ago but I don't get notifications for that and I was unaware. Looking at them, I see that you've used spaces instead of semicolons. Please follow the example in the config comments, like this:
[code]
I can confirm that these settings work when I tested them.

[2021-05-16 06:23] #55 closed, assigned to TheIllusiveC4

[2021-05-16 06:26] TheIllusiveC4 commented on #57
I've tried a few times but unfortunately I cannot reproduce this issue. I can only assume at this juncture that it's a mod conflict. I suspect that perhaps a mod is changing the daytime of the game in such a way that it interferes with the hammock's time changing logic.

[2021-05-16 06:30] #53 closed, assigned to TheIllusiveC4

[2021-05-22 18:59] NielsPilgaard commented on #57
I've had a report of this as well: It seems to happen when the mod Morpheus (only a percentage of players need to sleep-mod) makes sleep "successful".

There's a good video showing the issue in the E6 bug report.
https://github.com/NillerMedDild/Enigmatica6/issues/2241
https://github.com/Quetzi/Morpheus/issues/94

[2021-06-19 17:16] Miyazono1 opened #59 "Hammock doesn't work"
#### Versions (Be specific, do not write "latest"):
* Comforts: 4.0.0.4
* Forge/Fabric: 36.1.16
#### Observed Behavior: Hammock does not turn it to night.
#### Expected Behavior: Hammock should turn it to night
#### Steps to Reproduce: sleep in hammock during the day. (might only be in the enigmatica 6 pack atm)

i'm playing the enigmatica 6 pack on a server, and the hammock does not change it to

[2021-06-21 08:13] #57 closed, assigned to TheIllusiveC4

[2021-06-21 08:13] #59 closed, assigned to TheIllusiveC4

[2021-06-29 01:31] Ayutac opened #61 "Taking any item immediately unlocks all Comfort recipes"
If you are low on time I volunteer to add proper recipe advancements :)

[2021-07-01 14:33] Youri5 opened #63 "1.17???"
Is this mod also for 1.17????
I hope so 😇😇😇

[2021-07-02 00:24] TheIllusiveC4 commented on #63
Comforts is available for Fabric 1.17:
https://www.curseforge.com/minecraft/mc-mods/comforts-fabric/files/3347978

Forge is not yet on 1.17 so no Forge version is available at this time.

[2021-07-02 00:24] #63 closed, assigned to TheIllusiveC4

[2021-07-12 21:38] GamingNerdLeith opened #64 "When ever you install the mod an error appears"
#### Versions (Be specific, do not write "latest"):
* Comforts (comforts-forge-1.16.5-4.0.1.1.jar)
* Forge (36.1.32)
* 1.16.5
#### Observed Behavior:
![error](https://user-images.githubusercontent.com/67237948/125358881-6d4c9380-e361-11eb-9f8b-6687b7c9e371.png)
#### Expected Behavior:
Load to main menu after launching minecraft
#### Steps to Reproduce:
1. Download forge
2. drag comforts-forge-1.16

[2021-07-12 21:46] TheIllusiveC4 commented on #64
It looks like some mod called Golden Age Combat is causing a mixin injection error while Comforts is loading. Have you tried removing that mod?

[2021-07-14 18:51] GamingNerdLeith commented on #64
It fixes that issue, sorry to bother you with a bug report.

[2021-07-14 21:09] #64 closed, assigned to TheIllusiveC4

[2021-08-02 09:21] TheIllusiveC4 commented on #61
I am unable to reproduce this issue. Giving myself any color wool only unlocks the recipes of that wool type, with the others remaining locked. In addition, the Rope and Nail recipe doesn't unlock until the player has received an iron ingot.

[2021-08-06 01:07] Razer7000 opened #66 "Game Crashes"
#### Versions (Be specific, do not write "latest"):
* Comforts: 5.0.0.0
* Forge/Fabric: 37.0.18
#### Observed Behavior: Game Crashes After Launch
#### Expected Behavior: Gmae runs without crashing
#### Steps to Reproduce:
1.
2.
3.
...

Crash/Debug Logs: Please see [how to share logs](https://fabricmc.net/wiki/player:tutorials:logs_ml:windows#how_to_post_your_logs_to_get_help).
[crash-2021-08-05_10

[2021-08-06 02:55] TheIllusiveC4 commented on #66
Update to Forge 37.0.19 or higher.

[2021-08-06 02:55] #66 closed, assigned to TheIllusiveC4

[2021-08-06 03:04] Razer7000 commented on #66
thx

On Thu, Aug 5, 2021 at 10:55 PM TheIllusiveC4 ***@***.***>
wrote:

[2021-08-06 18:42] EezaGeeza opened #67 "Gane crashes with comforts active"
#### Versions (1.17.1-5.0.0.0):
* Comforts:
* Forge
#### Observed Behavior: Game crashes
#### Expected Behavior: Game ran fine on a previous version - 1.16
#### Steps to Reproduce: Just rabn the game through CurseForge
[crash-2021-08-06_19.21.45-client.txt](https://github.com/TheIllusiveC4/Comforts/files/6947409/crash-2021-08-06_19.21.45-client.txt)

1.
2.
3.
...

Crash/Debug Logs: Please see [how

[2021-08-06 20:05] TheIllusiveC4 commented on #67
Duplicate of https://github.com/TheIllusiveC4/Comforts/issues/66
Update to Forge 37.0.19 or higher.

[2021-08-06 20:05] #67 closed, assigned to TheIllusiveC4

[2021-08-28 07:46] Muffintiem opened #68 "Hammock moving time forward too much"
I am currently using the latest version of Comforts for Fabric on Minecraft version 1.17.1. I installed a mod that adds a calendar and I've discovered that sleeping in the hammock will make it the next day. So it is like I'm waking up at sunset of the next day. I don't think this is desired behavior since if I use both the sleeping bag and the hammock time will move twice as fast.

[2021-08-28 08:48] TheIllusiveC4 commented on #68
What's the mod that adds a calendar? Just so I can reproduce it for testing.

[2021-08-28 16:14] Muffintiem commented on #68
It's Enhanced Celestials. There's a command to call up a calendar of upcoming lunar events and how many days away they are. After sleeping in the hammock the number of days changes when it should only change with the sleeping bag.

[2021-10-06 23:55] #68 closed, assigned to TheIllusiveC4

[2022-01-25 02:22] Sixty9ing opened #70 "Unable to leave cot"
I had to force shut down the application after getting into my cot and being unable to leave, open any menu, or use commands.

[2022-01-25 02:24] Sixty9ing commented on #70
Just thought I would report that happening, I have other mods installed aswel and wasn't able to re create it thankfully, however the cot after re-starting said it was occupied and I broke and re placed it before trying.

[2022-01-27 18:48] Sunconure11 opened #71 "Update Cardinal Components"
I'm noticing a few mods are crashing when using it, at least, on the latest version on Curse.

[2022-01-27 20:47] TheIllusiveC4 commented on #71
For which MC version?

[2022-01-27 21:30] Sunconure11 commented on #71
1.18

[2022-01-28 07:54] #71 closed, assigned to TheIllusiveC4

[2022-01-31 19:28] Goten87 commented on #61
i also start with all Sleeping bags unlocked without any items at all all i have given my self is a crafting bench
on: comforts-forge-1.18-5.0.0.1

[2022-01-31 21:50] TheIllusiveC4 commented on #61
Did you have any other mods installed when that happened? There are mods/modpacks that unlock all the recipes at the start.

[2022-01-31 21:51] TheIllusiveC4 commented on #70
Since I haven't gotten any other reports and you weren't able to reproduce it, I will just call this a weird one-time error.

[2022-01-31 21:51] #70 closed, assigned to TheIllusiveC4

[2022-02-17 11:07] Colear opened #72 "Leisure hammocks on Fabric version"
I can't find the leisureHammocks option, which is in the documentation, in the Fabric 1.18 configuration, is this normal? If so, will this option be implemented later?

PS. Thanks for this great mod.

[2022-02-27 12:35] JonnyOnSeSocks commented on #61
I had the same issue in the newest version without any other mods installed. I looked into it and found that the tags in the advancements json files for "minecraft:inventory_changed" use "item" instead of "items". Updating the advancement json files in data\comforts\advancements\ to "items" did fix this issue for me.
![grafik](https://user-images.githubusercontent.com/90340834/155881997-f1dd153c-6

[2022-02-27 16:38] Ayutac commented on #61
That should be it. I remember having the same bug in my own mod.

[2022-03-03 18:30] Sereath commented on #10
Hmm
I wasn't sure if you were still willing to take a look at the 1.12 version so I mentioned this same problem to CreativeMD instead, my bad if I assumed wrong.
Same issue with OpticManager (which can also change the lenght of the day) of hammocks moving the time to the morning instead of the evening.

[2022-03-06 10:02] muhammedesadcomert opened #74 "Crash when trying to start the game"
#### Versions:
* comforts-fabric-1.0.2-1.18.1
* Fabric - 0.13.3
* Game version: 1.18.2
#### Observed Behavior: Game crash
#### Expected Behavior: Successful start of the game

Crash Logs: https://pste.ch/iropebowoq.rb

[2022-03-08 03:05] kingstairs commented on #74
Confirming with a clean MC instance (MultiMC) - reproducible.
Crash Log: [comforts-crash-20220307.txt](https://github.com/TheIllusiveC4/Comforts/files/8202370/comforts-crash-20220307.txt)
.

[2022-03-08 03:23] TheIllusiveC4 commented on #72
Unfortunately, Leisure Hammocks are a legacy feature that was removed a long time ago and I do not currently have plans to re-implement it.

[2022-03-08 03:23] #72 closed, assigned to TheIllusiveC4

[2022-03-08 03:55] #61 closed, assigned to TheIllusiveC4

[2022-03-08 04:08] TheIllusiveC4 commented on #74
Should be now fixed in 1.1.0-1.18.2.

[2022-03-08 04:08] #74 closed, assigned to TheIllusiveC4

[2022-03-08 16:06] kaiden-lcfc opened #76 "Game crashes when I break a sleeping bag"
[crash-2022-03-08_15.56.14-server.txt](https://github.com/TheIllusiveC4/Comforts/files/8207746/crash-2022-03-08_15.56.14-server.txt)
Crash report ^

So i have placed a sleeping bag and slept however when trying to pick it back up, the game just crashes. I reopen the game and the sleeping bag is still there and its in the way so how can i break it or fix the bug?

Thanks :)

[2022-03-08 22:45] TheIllusiveC4 commented on #76
Update to the latest Comforts (1.18.2-5.0.0.3) and let me know if it's still an issue.

[2022-03-09 04:45] jupiter-august commented on #76
Same issue, current version. Now my world won't load after the crash.

[2022-03-09 05:07] TheIllusiveC4 commented on #76
Strange then, I can't reproduce your issue. Can you share the crash log with the current version?

[2022-03-09 06:52] kaiden-lcfc commented on #76
Thanks that fixed it, i tried to unscramble the logs myself to see what the problem was but i could make any sense of it so thanks for the help :)

[2022-03-09 15:26] kuehnfelix commented on #76
Same problem for me. Using `comforts-forge-1.18.2-5.0.0.3 ` with forge `39.1.2`. Trying to destroy a sleeping bag on a server produces the following exception for the client trying to break it as well as for the server:

<details>
  <summary>[16:11:19] [Server thread/ERROR]: Encountered an unexpected exception...</summary>

[code]

[2022-03-09 17:20] davidalb97 opened #77 "1.18.1 Fabric - Parsing error loading recipe comforts:rope_and_nail_shapeless - Unknown item tag 'c:rope'"
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.0.3
* Forge/Fabric: 0.46.6
* Minecraft: 1.18.1
* Fabric Loader: 0.13.3

#### Observed Behavior:
[code]
#### Expected Behavior:
No error in the log.
#### Steps to Reproduce:
1.Create a minecraft server with 0.13.3 fabric loader for MC 1.18.1.
2. Install Conforts 1.0.3 & fabric api 0.46.6.
3.Watch the log before world generation.

Cra

[2022-03-09 18:07] Ultimaheart4 commented on #76
comforts version, 1.18.2-5.0.0.3, i am also having the same issue with my server and sometimes only client crashing when breaking a sleeping bag after placed when trying to sleep before night, it also doesnt auto pick up after sleeping in it, ive had to use world edit to remove the sleeping bags from the world
[crash-2022-03-08_19.19.49-client.txt](https://github.com/TheIllusiveC4/Comforts/files/8

[2022-03-09 22:18] TheIllusiveC4 commented on #76
Okay, I think everyone is having the same issue, which is that you're using versions that don't match your Minecraft version. That was my bad, because it was not marked correctly. To solve the issue:

1. If you're on 1.18.1, only use up to Comforts 1.18.1-5.0.0.2. Do not update past that unless you update to Minecraft 1.18.2.
2. If you're on 1.18.2, only use Comforts 1.18.2-5.0.0.3 or later.

If y

[2022-03-09 22:37] TheIllusiveC4 commented on #77
This should be fixed already in 1.18.2, but unfortunately won't be fixed in 1.18.1 as I am no longer making updates for that version.

You can safely ignore it, it's only used in a recipe that is not functional unless a modpack developer adds items into the `c:rope` tag themselves. And if they do so, the error will fix itself anyways.

If it really bothers you for some reason and you are not using

[2022-03-09 22:37] #77 closed, assigned to TheIllusiveC4

[2022-03-09 22:38] #76 closed, assigned to TheIllusiveC4

[2022-03-12 12:21] Ayutac opened #78 "Deprecated gifs on cursedforge"
Hey hey,

not really a bug, but the gifs on the curseforge side, at least for fabric, still show cacao beans, lapis and ink sac instead of the proper dyes. Just so you know :)

[2022-03-13 03:46] Slickson77 opened #79 "Server Crash on 1.18.1 Forge 39.1.0"
#### Versions (Be specific, do not write "latest"):
* Comforts: comforts-forge-1.18.1-5.0.0.2.jar
* Forge/Fabric: Forge 39.1.0
*
#### Observed Behavior: Server Crashes when you place down a sleeping bag (and can't sleep in it because it is day time or a monster is near forcing the bag to not auto break).  When this happens and you manually break the bag ... Server go boom.

This doesn't seem to ha

[2022-03-13 05:34] TheIllusiveC4 commented on #79
Your server is running on 1.18.1, which does match the version you listed above. However, if I look at your crash log, it says:

Your server is running the 1.18.2 version of Comforts. You should downgrade to the 1.18.1 version.

[2022-03-13 05:34] #79 closed, assigned to TheIllusiveC4

[2022-03-18 17:06] Ayutac opened #80 "Placing a sleeping bag when time to sleep makes arm stand up"
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.1.2-1.18.2
* Fabric API: 0.47.10+ 1.18.2
#### Observed Behavior: Placing a sleeping bag when time to sleep makes arm stand up while sleeping
#### Expected Behavior: sleep normally
#### Steps to Reproduce:
1. new world
2. wait for night
3. place down sleeping bag

[2022-03-18 21:47] TheIllusiveC4 commented on #80
Could you provide a screenshot of this happening?

[2022-03-25 18:45] Ayutac commented on #80
![2022-03-25_19 43 49](https://user-images.githubusercontent.com/7873396/160182641-8613270d-6abc-4693-87b7-651f4e4367fb.png)
![2022-03-25_19 44 12](https://user-images.githubusercontent.com/7873396/160182644-823bd39e-dd4f-48cf-9b3f-50e9e6741e75.png)

First version is placing the bag while it is night.

Second version is placing the bag during the day and then go to bag in the night.

EDIT: Done on

[2022-04-05 15:50] ekiplier opened #81 "Crash on start-up"
My modpack crashed and it indicates Comforts as the issue.

![image](https://user-images.githubusercontent.com/74121461/161794139-41dceb5d-6546-45ae-b84e-f81128ebe2f0.png)

Here's the crash report:
[crash-2022-04-05_16.43.22-fml.txt](https://github.com/TheIllusiveC4/Comforts/files/8419794/crash-2022-04-05_16.43.22-fml.txt)

[2022-04-05 15:57] ekiplier commented on #81
Btw, I think this is already in the report, but I'll leave all the versions here just in case:

MC version - 1.16.5
Forge version - 36.2.33
Comforts version - forge-1.16.5-4.0.1.5

Edit: The mod loader and Comforts' versions are the latest ones currently available on the CurseForge launcher.

Edit2: After running my modpack without Comforts, the game was able to start, which confirms that this mod

[2022-04-06 01:59] TheIllusiveC4 commented on #81
If you remove just Tough as Nails, is the game able to start?

[2022-04-06 15:21] ekiplier commented on #81
Hi! thanks for your response. Yes, the game is able to start without TAN. Since I don't know whose side is able to fix it, I'll reference this issue on the TAN page. Thanks!

[2022-04-06 21:24] TheIllusiveC4 commented on #81
This actually isn't a Comforts issue, but it is (kinda) a Diet issue.
All further correspondence will be at the corresponding Diet thread:
https://github.com/TheIllusiveC4/Diet/issues/123

[2022-04-06 21:24] #81 closed, assigned to TheIllusiveC4

[2022-04-14 01:16] meganrosee opened #82 "when you try to break a sleeping bag the game crashes"
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.18.2
* Forge/Fabric: forge
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1.
2.
3.
...

Crash/Debug Logs: Please see [how to share logs](https://fabricmc.net/wiki/player:tutorials:logs_ml:windows#how_to_post_your_logs_to_get_help).
[crash-2022-04-13_20.07.56-client.txt](https://github.com/TheIllusiveC4/Comf

[2022-04-14 02:23] TheIllusiveC4 commented on #82
Your log shows that you're using Comforts for 1.18.1, which will not work properly in 1.18.2. Please update your Comforts version to the latest for 1.18.2.

[2022-04-14 02:23] #82 closed, assigned to TheIllusiveC4

[2022-04-15 10:06] pawbap opened #83 "Single Ingot Rope Recipe"
#### Versions:
* Minecraft: 1.18.2
* Comforts: 6.2.57
* Fabric Loader: 0.13.3
* Fabric API: 0.50.0
* REI: 8.1.449
#### Observed Behavior:
There's a second crafting recipe for Rope and Nail when looking at it through the Roughly Enough Items mod, requiring only one iron ingot. When placed into the crafting table, it doesn't actually allow crafting the Rope and Nail...of course.
#### Expected Behavi

[2022-04-15 13:33] TheIllusiveC4 commented on #83
There are actually two recipes. However, the second one isn't correctly listed in Roughly Enough Items so I think this is an REI issue at its core. The second recipe uses an iron ingot and the `c:rope` tag. The problem is probably the fact that, by default, the `c:rope` tag is empty and REI seems to show the input as nothing. Contrast this with JEI on Forge which places a red mark in the spot and

[2022-04-15 13:33] #83 closed, assigned to TheIllusiveC4

[2022-04-22 17:18] WenXin20 opened #84 "[1.18.1] Server crash when sleeping bag was broken"
#### Versions (Be specific, do not write "latest"):
* Comforts: v5.0.0.2
* Forge: v39.1.2
#### Observed Behavior:
- The sleeping bag was broken, which caused a crash, even though this was not the first time the sleeping bag was broken.
- There was a rainstorm, and it showed the message that you can't sleep during a rainstorm, then it crashed when breaking it.

#### Expected Behavior:
- No crashes

[2022-04-22 21:16] TheIllusiveC4 commented on #84
[code]

You're using the 1.18.2 version of Comforts on 1.18.1, which will cause this crash. Please downgrade to the 1.18.1 version of Comforts.

[2022-04-22 21:16] #84 closed, assigned to TheIllusiveC4

[2022-04-23 02:40] WenXin20 commented on #84
Ooh, somehow the server got the 1.18.2 version while client-side I have the 1.18.1 version.
Thanks!

[2022-05-06 01:20] NealSavage opened #85 "Leather Sleeping Bag"
**Please describe the new feature or change.**
A sleeping bag option that is crafted out of leather, rather than wool.

**Please describe why you want this feature.**
I think that a sleeping bag made out of leather would be both realistic based on history and really helpful to players who spawn in biomes with next to no sheep and struggle to find enough spiders to craft wool from string. Perhaps i

[2022-05-06 23:42] EGOIST1372 opened #86 "Ability to disable skip the night/day"
**Please describe the new feature or change.**
Ability to disable skip the night/day in config file

**Please describe why you want this feature.**
I want decorative blocks only and wants to have this mod but don't want to skip night/day when I clicked on it.
Also it would be great if you could sleep on the them but not skip night/day. Just for aesthetics

[2022-05-07 06:07] NealSavage opened #87 "Hammock Config to Night Time Sleeping Incorrect Can't Sleep Message"
#### Versions (Be specific, do not write "latest"):
* Comforts: 1.1.2
* Forge/Fabric: Fabric 0.13.3
#### Observed Behavior:  I changed the config option to be sleep at night for the hammock, and yet when I click on it during the day time, it still says "Can only sleep during the day." This should change with the toggle.
#### Expected Behavior: It should say night, not day
#### Steps to Reproduce:

[2022-06-14 17:30] kingstairs opened #88 "Minecraft 1.19.x support"
Any plans/ETA for MC 1.19? This is a great sleeping mod and I'd like to use it in 1.19.
Thank you

[2022-06-14 21:41] veryredpp commented on #88
bump

[2022-06-22 19:47] doakungfu commented on #88
I'd like to contribute in any way that I can. I love this mod. Beds are stupid.

[2022-06-25 21:33] kingstairs commented on #88
While the official Comforts 1.19.0 is in development, I went and ported the code to MC/Fabric 1.19. There is an _unofficial_ release published in my fork which you are welcome to use in the meantime: [Unofficial Comfort Releases](https://github.com/kingstairs/Comforts/releases)
#90

[2022-06-26 00:11] doakungfu commented on #88
You're awesome! Thank you.

On Sat, Jun 25, 2022 at 5:33 PM kingstairs ***@***.***> wrote:

[2022-06-30 11:28] TheIllusiveC4 commented on #88
I've just released the 1.19 port for both Fabric and Forge. I thank everyone for their interest in the mod and their patience. Most of the code has changed so it's a beta release right now, but just let me know if there's any issues.

[2022-06-30 11:28] #88 closed, assigned to TheIllusiveC4

[2022-07-13 01:03] AyoTedd opened #91 "[Bug]: Game crashes followed by an error"
### Minecraft Version

1.19.0

### What happened?

Whenever I open the game, I get the following error:

The game crashed whilst initializing game
Error: java.lang.RuntimeException: Could not execute entrypoint stage 'client' due to errors, provided by 'spectrelib'!
Exit Code: -1

I cannot run the game unless I remove the mod itself. I tried reinstalling the mod, restarting my computer and optimiz

[2022-07-13 01:11] TheIllusiveC4 commented on #91
Can you provide the crash log? Otherwise, I don't know what caused the crash.

[2022-07-14 02:14] AyoTedd commented on #91
[crash-2022-07-10_06.34.06-fml.txt](https://github.com/illusivesoulworks/comforts/files/9107812/crash-2022-07-10_06.34.06-fml.txt)

[2022-07-14 03:23] TheIllusiveC4 commented on #91
Um, that doesn't seem like the right crash log. For one, that's for Forge and your initial bug report was for Fabric. Secondly, that crash report is crashing because of Cooking For Blockheads, not Comforts.

[2022-07-15 03:35] AyoTedd commented on #91
Ohhhh so it was Forge and Cooking For Blockheads messing up my minecraft?

[2022-07-15 03:37] TheIllusiveC4 commented on #91
I don't know. I'm as confused as you are, because you reported this for Fabric but your crash report is for Forge. And the error codes don't really line up between that crash report and your screenshot.

[2022-07-15 05:13] AyoTedd commented on #91
I'll remove Forge and the mods and see if that'll work

[2022-07-15 05:39] AyoTedd commented on #91
[crash-2022-07-14_22.38.07-client.txt](https://github.com/illusivesoulworks/comforts/files/9118139/crash-2022-07-14_22.38.07-client.txt)

[2022-07-15 06:12] TheIllusiveC4 commented on #91
Okay, that seems right this time. So it says it has trouble loading the server configuration file for Comforts. Can you share the `comforts-server.toml` file in your `defaultconfigs` folder?

[2022-07-15 09:20] krjencik opened #92 "[Bug]: encountered an error during the common_setup event phase"
### Minecraft Version

1.19.0

### What happened?

Minecraft didnt load

### How do you trigger this bug?

1. download forge 41.0.98
2.download this mod
3.run Minecraft
...

### Loader

Forge

### Loader Version

forge-41.0.98

### Fabric API Version

_No response_

### Mod Version

comforts-forge-6.0.0-beta.3+1.19

### Relevant Log Outputs

https://gist.github.com/krjencik/a27b17dbbc397c94aaa07ac

[2022-07-15 10:29] AyoTedd commented on #91
That's another problem that I saw, it wasn't in the configs folder. Someone said it was corrupeted.
![unknown](https://user-images.githubusercontent.com/109137390/179206033-d91f3c1c-42bd-446c-9bce-f6addde078e2.png)

[2022-07-15 17:59] TheIllusiveC4 commented on #91
That looks like the `configs` folder, can you check your `defaultconfigs` folder instead?

[2022-07-15 18:04] TheIllusiveC4 commented on #92
Yeah, this is due to the breaking changes in Forge 41.0.94+. I'll update it as soon as I can. Current workaround is to downgrade to between 41.0.64 and 41.0.93.

[2022-07-15 22:26] AyoTedd commented on #91
It wont let me send it, it says its unsupported

[2022-07-16 03:14] TheIllusiveC4 commented on #91
The file? You can just put it in a pastebin instead and send the link.

[2022-07-16 09:47] AyoTedd commented on #91
When I try uploading the toml file to pastebin it just downloads the file.

[2022-07-16 21:36] TheIllusiveC4 commented on #91
You don't upload the file to pastebin, you just copy and paste to create a new pastebin.

[2022-07-17 01:37] AyoTedd commented on #91
I tried copying and pasting the file on pastebin but it came out blank, or am I doing it wrong? Sorry about this..

[2022-07-17 02:11] TheIllusiveC4 commented on #91
I'm not sure what you're doing, but it shouldn't come out blank. If you copy and paste something, the contents should, by definition, come out exactly the same as what you initially copied.

If that's not working for some reason, then try just screenshotting the file's contents.

[2022-07-17 02:34] AyoTedd commented on #91
![image](https://user-images.githubusercontent.com/109137390/179381484-9bed81c8-94a5-4926-af64-214abc05cb6b.png)

[2022-07-17 03:24] TheIllusiveC4 commented on #91
Um okay, so it's blank. Which explains why copying and pasting doesn't work. Delete the config file entirely and then restart to let it generate a new one.

[2022-07-17 03:35] AyoTedd commented on #91
Ok, deleting the config file made it work again, but this time when I try going into a world it takes longer than normal to load in. When I click anywhere it stops responding.

[2022-07-17 04:27] TheIllusiveC4 commented on #91
Okay, for that, then I'd need to see the logs from that session. Either `latest.log` or `debug.log` in your `logs` folder. Note that, unless you did this with only Comforts installed, there's a chance it's not a Comforts issue since your configuration file now works correctly.

[2022-07-17 06:03] AyoTedd commented on #91
[latest.log](https://github.com/illusivesoulworks/comforts/files/9127109/latest.log)

[2022-07-17 20:30] TheIllusiveC4 commented on #91
Nothing in that log points to Comforts being an issue, though there are errors from other mods. Do you experience that issue with _only_ Comforts installed? In other words, what reason do you have to believe that it is Comforts causing your loading issue now that the config has been fixed?

[2022-07-18 00:00] AyoTedd commented on #91
This is the first I've used minecraft in about several months, I never had mods on it before, so when I found out about the crash issue, I wanted to make completely sure that it was that mod and none else giving it issues. But since you told me that other mods are giving me errors, it raised my concern a bit more. Is there anywhere I should go to have help for these errors? (Since this is a comfor

[2022-07-18 01:57] TheIllusiveC4 commented on #91
It's fine, really. I can see you're trying your best, so I'll try my best to help you out. Your initial crash issue was solved by fixing the Comforts configuration file. Now, you say you're having issues with load times and freezing when entering a world. What you need to do is figure out which mod is causing that issue. You can accomplish this by removing mods until you figure out which mod's pre

[2022-07-18 04:00] AyoTedd commented on #91
Alright, I'll try that. Thank you for taking the time to help me, I very much appreciate it :)

[2022-07-18 05:33] #92 closed, assigned to TheIllusiveC4

[2022-07-18 05:35] TheIllusiveC4 commented on #91
You're welcome, happy to help. I'm closing this issue for now as the initial problem has been resolved but feel free to open up a new issue if you discover your new problem is also caused by Comforts.

[2022-07-18 05:35] #91 closed, assigned to TheIllusiveC4

[2022-07-21 02:05] Hoskja opened #93 "[Bug]: Crash on touching bedroll in survival mode"
### Minecraft Version

1.19.0

### What happened?

Immediate crash to desktop upon clicking a bedroll in survival mode, crashlog pastebin below

### How do you trigger this bug?

click on a sleeping bag in survival mode

### Loader

Forge

### Loader Version

forge 41.0.105

### Fabric API Version

_No response_

### Mod Version

6.0.0-beta.4+1.19 - 2022.07.17

### Relevant Log Outputs

https://sp

[2022-07-21 02:20] Hoskja commented on #93
Note: realized other mods were active at the time, new test without the mods resulted in no crash. Ignore this.

[2022-07-21 02:20] #93 closed, assigned to TheIllusiveC4

[2022-07-27 18:35] valdenoc opened #96 "[Bug]: server crash"
### Minecraft Version

1.19.0

### What happened?

hello!
i just downloaded the new forge version + the last update of the mod but it crash my server every time i try to run it.
 this is the message i get
![imagen_2022-07-27_123020140](https://user-images.githubusercontent.com/110125660/181346099-16875960-1636-447d-98c5-601318f6a8fa.png)

maybe im doing something wrong? anyway, i tried to remove i

[2022-07-27 19:23] TheIllusiveC4 commented on #96
Please attach the full crash log, located in the crash-reports folder. The screenshot you've shown doesn't tell me enough information about what caused the crash.

[2022-07-27 19:40] valdenoc commented on #96
sorry! here you have, thanks for answer

https://mclo.gs/78K7q8e

[2022-07-27 21:27] TheIllusiveC4 commented on #96
Hmm, I think this might be a Forge issue. I'll report it to them and see what comes of it. In the meantime, I believe you can workaround this by downgrading to Forge 41.0.109 or below.

[2022-07-27 21:59] valdenoc commented on #96
thank you so much!
and yes, i downgraded the forge server and it works perfectly again. I will wait for the new version to work, thanks for all your work!

[2022-07-30 01:55] gousisme commented on #96
same issue with 1.19.1 server

[2022-07-30 02:05] TheIllusiveC4 commented on #96
It's a Forge issue, not much I can do about it. We just have to wait for them to fix it.

[2022-07-31 02:31] TigerWalts commented on #96
A temporary workaround for servers is to extract the jar files from within the `META-INF\jarjar` folder in the mod file and then place them into the server's `mods` folder. Then remove the `META-INF\jarjar` folder from the mod file.

Using 7-zip:

1. Open the mod file in 7-Zip
2. Navigate to the `META-INF\jarjar` folder
3. Extract the Jar files in this folder to the `mods` folder
4. Navigate up on

[2022-07-31 14:32] J053Fabi0 opened #97 "[Bug]: Failed to load mod file META-INF/jarjar/spectrelib-forge-0.8.1+1.19 .jar"
### Minecraft Version

1.19.1

### What happened?

I installed the `comforts-forge-6.0.0+1.19.1.jar`, and when running the server an error pops up. The error goes away when I delete the mod.

[code]

### How do you trigger this bug?

1. Download `comforts-forge-6.0.0+1.19.1.jar` in the server's mods directory.
2. Run `./run.sh`.

### Loader

Forge

### Loader Version

42.0.1

### Fabric API Versio

[2022-07-31 20:21] TheIllusiveC4 commented on #97
Forge issue, duplicate of https://github.com/illusivesoulworks/comforts/issues/96

[2022-07-31 20:21] #97 closed, assigned to TheIllusiveC4

[2022-08-03 23:49] TheIllusiveC4 commented on #96
This should be fixed now as of Forge 42.0.2. If anyone is on 1.19 still, please continue to use only Forge 41.0.109 or below to avoid the issue.

[2022-08-03 23:49] #96 closed, assigned to TheIllusiveC4

[2022-08-11 05:45] mimi-min opened #98 "[Bug]: Crashes on server on 1.19"
### Minecraft Version

1.19.2

### What happened?

It works fine on the client, but when adding it to the server, it crashes on startup.

Here is the log from the console (there wasn't anything new in the crash-logs folder): https://pastebin.com/Cr6mEsEj

### How do you trigger this bug?

1. Install Comforts on server
2. Start server

### Loader

Forge

### Loader Version

Forge 41.1.0

### Fabric

[2022-08-11 21:35] TheIllusiveC4 commented on #98
Duplicate of https://github.com/illusivesoulworks/comforts/issues/96

[2022-08-11 21:35] #98 closed, assigned to TheIllusiveC4

[2022-08-12 03:52] Sereath commented on #10
Nevermind, hammocks skip to the next morning as well even without OpticManager. Just wanted to point that out.

[2022-08-15 09:18] Jayerd opened #100 "[Bug]: Server crashes upon start"
### Minecraft Version

1.19.2

### What happened?

[main/ERROR] [net.minecraftforge.fml.loading.moddiscovery.JarInJarDependencyLocator/]: Failed to load mod file META-INF/jarjar/spectrelib-forge-0.8.1+1.19.jar from comforts-forge-6.0.0-beta.5+1.19.jar

### How do you trigger this bug?

1. I install any version of Comforts in the server file
2. I start the server
3. the server crashes
...

### Load

[2022-08-15 16:26] Zelerity opened #101 "[Feature]: Sleeping bag destroy/delete chance option"
### What is the new feature or improvement?

It would be super cool if you could add a config entry for the chance that a sleeping bag will be destroyed/deleted upon use.
Not to be confused with `sleepingBagBreakage`
I believe many "hardcore" modpacks could benefit from this as well.

[2022-08-15 18:19] TheIllusiveC4 commented on #101
Maybe I'm not understanding properly, but how is this different than `sleepingBagBreakage`?

[2022-08-15 18:20] TheIllusiveC4 commented on #100
Duplicate of https://github.com/illusivesoulworks/comforts/issues/96

[2022-08-15 18:20] #100 closed, assigned to TheIllusiveC4

[2022-08-15 20:02] Zelerity commented on #101
Sorry, I should've been more clear;
`sleepingBagBreakage` doesn't actually delete the item from the game, it breaks the placed sleeping bag block and you can pick it back up.
What I'm looking for here is for the sleeping bag block to break, but the bag item **not** drop.

[2022-08-15 20:22] TheIllusiveC4 commented on #101
Huh, so just to be clear that's _not_ what `sleepingBagBreakage` is supposed to do. Breaking the sleeping bag and picking it back up is from the `autoUse` feature. What it's _supposed_ to do is exactly what you want. I just tested this myself and this is definitely not behaving like it should, I'm not sure when this feature broke. In any case, I'm now labeling this as a bug.

[2022-08-15 21:04] Zelerity commented on #101
That was my first thought as well! I was _convinced_ it was meant to actually remove the sleeping bag. Glad this bug was brought to light. Thank you for all you do! I'm on the latest 1.18.2 RELEASE forge version of the mod, for the record.

[2022-10-06 05:42] #101 closed, assigned to TheIllusiveC4

[2022-10-06 05:42] #87 closed, assigned to TheIllusiveC4

[2022-10-06 05:42] #80 closed, assigned to TheIllusiveC4

[2022-10-06 08:39] #78 closed, assigned to TheIllusiveC4

[2022-10-07 23:26] MonsterPoops opened #102 "[Feature]: Luck Factor config option to go with sleepingBagBreakage"
### What is the new feature or improvement?

Hey there. With Luck becoming a thing in vanilla MineCraft, if it's not too much to ask could you make an option to tie it in with the chance to break? Like a multiplier option for every point of luck to decrease the chance to break (or increase, in the case of unluck).

[2022-11-23 01:30] #102 closed, assigned to TheIllusiveC4